<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="404 Not Found">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta name="theme-color" content="#101010">
  <title>ΞRROR</title>
  <link rel="icon" type="image/png" href="<%= require('./favicon.png') %>">
  <link rel="icon" type="image/svg+xml" href="<%= require('./favicon.svg') %>">
  <link rel="stylesheet" href="<%= require('./styles.css') %>">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap">
</head>
<body class="h-screen flex justify-center items-center text-white bg-main">
  <h1 class="text-3xl md:text-6xl font-extralight pr-4 md:pr-6 animate-type">not found</h1>
</body>
</html>
